In [1]:
%matplotlib ipympl
import matplotlib.pyplot as plt
from scipy import stats
import numpy as np
from datetime import timedelta
import pandas as pd

from fin.sdk.data import *
from fin.sdk.momentum import *
from fin.sdk.backtest import *
from fin.environment.trading import *
from fin.environment.simulator import *
from fin.processing.features import *

In [2]:
df = get_historical_stock_df("1day", ["AAPL","VLKPF"], "2000-01-01", "2023-11-10")

In [3]:
#trading_simulator = TradingSimulator(df, 10000)
#trading_environment = TradingEnv(trading_simulator)

In [4]:
open_df = df["open"]

In [5]:
slopes_df = compute_slopes_per_symbol(open_df)

In [8]:
slopes_df

date
2000-01-03  AAPL     0.0
            VLKPF    0.0
2000-01-04  AAPL     0.0
            VLKPF    0.0
2000-01-05  AAPL     0.0
                    ...
2023-11-08  VLKPF    0.0
2023-11-09  AAPL     0.0
            VLKPF    0.0
2023-11-10  AAPL     0.0
            VLKPF    0.0
Length: 17426, dtype: float64

In [7]:
df

                        open        low       high      close       volume
date       symbol
2000-01-03 AAPL      0.93638    0.90792    1.00000    0.99944  535796800.0
           VLKPF         NaN        NaN        NaN        NaN          NaN
2000-01-04 AAPL      0.96652    0.90346    0.98772    0.91518  512377600.0
           VLKPF         NaN        NaN        NaN        NaN          NaN
2000-01-05 AAPL      0.92634    0.91964    0.98717    0.92857  778321600.0
...                      ...        ...        ...        ...          ...
2023-11-08 VLKPF   110.65000  110.16000  112.19000  110.16000         85.0
2023-11-09 AAPL    182.96000  181.81000  184.12000  182.41000   53631840.0
           VLKPF   111.41000  111.41000  112.74000  112.74000        960.0
2023-11-10 AAPL    183.97000  183.53000  186.56500  186.40000   66177922.0
           VLKPF   109.94800  109.39000  110.97000  109.92000        268.0

[17426 rows x 5 columns]